@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  @apply max-w-6xl mx-auto px-2;
}

.hover-effect {
  @apply transition-all duration-200 ease-in-out;
}

.element {
  @apply bg-lightModeElement dark:bg-darkModeElement;
}

.theme {
  @apply bg-lightModeBg dark:bg-darkModeBg;
}

.theme-text {
  @apply text-lightModeText dark:text-darkModeText;
}
html {
  font-size: 16px;
}

@media (max-width: 310px) {
  html {
    font-size: 14px;
  }
}

#theme-switcher {
  transform-origin: top right;
  transform: scale(1);
  animation: resize 0.2s ease-in-out 1;
}

@keyframes resize {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#tasklist button.active {
  color: #f56565;
}
